

<br>
<button class="btn btn-primary" routerLink="/banks/add"><i class="fas fa-plus-square"></i> Add new bank </button>

<br>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th> Id</th>
    <th> Name</th>
    <th> Address</th>
    <th> Number of customers</th>
    <th> Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let bank of banks">
    <td>{{bank.id}}</td>
    <td>{{bank.name}}</td>
    <td>{{bank.address.zipCode}} - {{bank.address.street}} - {{bank.address.country}}</td>
    <td>{{bank.customers.length}}</td>
    <td>
      <button (click)="deleteBank(bank.id)"><i class="fas fa-trash-alt"></i></button>
      <button routerLink="/edit/" [queryParams]="{bankId: bank.id}"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>

